::placeholder {
    color: #ffffff8e;
}

.friend-container {
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
    justify-content: space-between;
}
.friend-container:hover {    
    background-color: #ffffff2d;
}

.friend-container:focus {
    background-color: brown;
}


.friend-frame {  
    display: flex;
    gap: 10px;
    align-items: center;
}


#img-friend-profile {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#delete-icon{
    display: none;    
    cursor: pointer;
}

.friend-container:hover #delete-icon{    
    display: block;
}

#friend-name-title{
    margin: 0;
    font-size: 14px;
    color: #ffffffdc;
}

.contact-sidebar-container {
    padding: 0 1.5rem;
    height: 90%;    
}

.add-friend-title-input{
    position: absolute;
    background-color: #556080;
    width: 100%;
}

.add-friend-title-input p {
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 0 5%;
    padding-top: 2%;
}

.header-add-friend {
    display: flex;
    justify-content: space-between;
}
#close-x-add-friend{
    color: #1F1F33;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

#close-x-add-friend:hover{
    color: #fff;
}

#input-enter-username {
    color: #FFF;
    border-radius: 2px;
    background-color: #ffffff13;
    border: 0px;
    padding: 5px;
    width: 90%;
}

.input-add-friend{
    padding: 2% 5%;
}

.add-friend-container{
    width: 100%;
    position: relative;
    left:-200%;
    transition: 850ms;
    
}

.add-friend-container-active{
    width: 100%;
    position: relative;
    left:0;
    transition: 850ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    width: 100%;
}
#img-profile-chat{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

#button-add-friend {
    color: #ffffff;
    font-size: 24px;
    background-color: #ffffff13;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #1F1F33;    
    cursor: pointer;
}


#button-add-friend:hover {    
    background-color: #556080;   
}

#input-search-friend{
    color: #FFF;
    border-radius: 2px;
    background-color: #ffffff13;
    border: 0px;
    padding: 5px;
    width: 95%;
}

.contact-list-container {
    height: 80%;
}

.contact-list {
    height: 100%;
    padding: 0;
    overflow-y: hidden;
}

.contact-list:hover{
    overflow-y: auto;
}

.contact-list::-webkit-scrollbar {
    width: 7px;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.contact-list li {
    color: #fff;
    list-style-type:none;
}