.header-chat-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.p-header-chat{
    margin:0;
    color: #FFF;
    font-size: 14px;
    font-weight:normal;
}

#logout-title{
    cursor: pointer;
}

.messages-container {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-color: #ffffff13;
    border-radius: 2px;
}

.scroll-section:hover {
    overflow-y: auto;    
    transition: 850ms;
}

.scroll-section::-webkit-scrollbar {
    width: 10px;
}

.scroll-section::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

#message-sent {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    border-radius: 5px;
    margin: 0.5rem;
    
    padding: 0.5rem;
}

#message-sent:hover {
    background-color: #ffffff12;
}

.who-is-speaking-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.username-date-chat {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#delete-icon-chat {
    margin:0;
    display: none;
    cursor: pointer;
    margin-right: 3rem;
}

.who-is-speaking-profile:hover #delete-icon-chat{
    color: #ffffff30;
    font-size: 20px;
    display: block;
}

#username-message-sent{
    font-weight: bold;
}

#date-message-sent{
    font-size: 10px;
    color: #ffffff44;
}

#sticker-sent {
    width: 100px;
}
.input-message-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


